attrs
dialogic>=0.3.3
flask
dnspython
pymongo
pandas
mongomock
compress-fasttext
numpy
scikit-learn
tqdm
sentry-sdk
regex
bs4
requests
razdel
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
